<div *ngIf="student">
    <h2>{{student.name}}s frågor</h2>
</div>
<div *ngIf="activeQuestion">
    <span *ngFor="let s of activeQuestion.displayArray; let i=index">
        <template [ngIf]="!activeQuestion.blankPositions.includes(i)">
            {{s}}
        </template>
        <template [ngIf]="activeQuestion.blankPositions.includes(i)">
            <input [(ngModel)]="activeQuestion.nextAnswerStrings[activeQuestion.blankPositions.indexOf(i)]">
        </template>
    </span>
    <button (click)="answerQuestion()">Svara</button>
    <span *ngIf="activeQuestion.correctlyAnswered" class="true">RÄTT!</span>
    <span *ngIf="!activeQuestion.correctlyAnswered" class="false">fel</span>
</div>
<button (click)="newQuestion()">Ny fråga</button>
<button (click)="goBack()">Tillbaka</button>

<div *ngIf="student">
    <h3>Gamla frågor</h3>
    <ul class="questions">
        <li *ngFor="let q of student.questionList.slice(0,10)">
            <span *ngFor="let s of q.displayArray">
                {{s}}
            </span>
            ({{q.creationTime | date:'medium'}})
            <span *ngIf="q.correctlyAnswered" class="true">RÄTT!</span>
            <span *ngIf="!q.correctlyAnswered" class="false">fel</span>
        </li>
    </ul>
</div>

