<div *ngIf="student">
    <h2>{{student.name}}</h2>
    <div>
        <label>Namn: </label>
        <input [(ngModel)]="student.name" placeholder="name">
    </div>
</div>
<button (click)="toQuestions()">Göra uppgifter</button>
<button (click)="goBack()">Tillbaka</button>
<button (click)="save()">Spara</button>
