<div>
    <label>Elevens namn:</label> <input #name />
    <button (click)="add(name.value); name.value=''">
        Ny
    </button>
    <button (click)="search(name.value); name.value=''">
        Sök
    </button>
</div>
<ul class="students">
    <li *ngFor="let s of students"
        (click)="onSelect(s)">
        <span>{{s.name}} ({{s.id}})</span>
        <button class="delete"
                (click)="delete(s); $event.stopPropagation()">x</button>
    </li>
</ul>
